<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="numbers">Numbers</a>
    <a href="/user">User</a>
    <a href="users">Users</a>
    @model User
    <h1>User</h1>
    <p>@Model.FirstName @Model.LastName</p>
</body>
</html>